<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FunctionalityLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FunctionalityLibrary.Properties.Settings>
            <setting name="sizeReductionOfLine" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="sizeOfCross" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PixelPerMeter" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PixelPerСentimeter" serializeAs="String">
                <value>10</value>
            </setting>
        </FunctionalityLibrary.Properties.Settings>
    </userSettings>
</configuration>